<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>{{title}}</title>
    <meta name="description" content="">
</head>

<header>head</header>
  <body>
 
    <div class="site-mid">
      <div class="site-bd markdown-body">
        {{#block "body"}}
        {{/block}}
      </div>
    </div>

    <div class="site-lt">
      <div class="lt-list">
        <div class="list-title">文章列表</div>
        <ul id="ul-title">
          <li>articlearticle1article1article1article1article11</li>
          <li>articlarticle1article1article1article1article1article1article1e1</li>
          <li>article1</li>
          <li>article1</li>
          <li>article1</li>
        </ul>
      </div>
      
    </div>

    <div class="site-rt">
      
    </div>

      <div class="site-ft">
            <small>&copy; 2014</small>
      </div>

    <script type="text/javascript" src="../js/main.min.js"></script>
    
  </body>
</html>