<!DOCTYPE html>
<html lang="en">
  {{>header}}

  <body>
 
    <div class="site-mid">
      <div class="site-bd markdown-body">
        {{#block "body"}}
        {{/block}}
      </div>
    </div>

    <div class="site-lt">
      <div class="lt-list">
        <div class="list-title">文章列表</div>
        <ul id="ul-title">
          loading....
        </ul>
      </div>
      
    </div>

    <div class="site-rt">
      
    </div>

      <div class="site-ft">
            <small>&copy; 2014</small>
      </div>

     {{>footer}}
    
  </body>
</html>